.interface {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    z-index: -1;
}

.grid {
    width: 400px;
    height: 550px;
    filter: contrast(3);
    background-image: url(./images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border: black solid 3px;
    border-radius: 10px;
    text-align: center;
    font-size: 60px;
    font-weight: 1000;
}

.doodler {
    content: url(./images/doodler_fall.png);
    width: 65px;
    height: 65px;
    opacity: 1;
    position: absolute;
    z-index: 3;
}

.jumping_doodler {
    content: url(./images/doodler_jump.png);
    z-index: 3;
    opacity: 1;
}

.platform {
    content: url(./images/plat4-removebg-preview.png);
    background: none;
    background-color: transparent;
    width: 75px;
    height: 20px;
    position: absolute;
    opacity: 1;
    z-index: 3;
}

.button {
    border: solid 1px #ccc;
    background-color: pink;
    color: black;
    font-weight: bold;
}

.activated {
    display: none;
}

button:hover {
    background-color: rgb(192, 70, 155);
    color: rgb(2, 11, 19);
}

.restart {
    display: none;
}

.restart-active {
    display: initial;
}