body {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.interface {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(./images/bg.jpg);
}

.grid {
    width: 400px;
    height: 100%;
    background-image: url(./images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 8px;
    border: none;
    background-color: #ffffff;
}

.grid h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    color: #ffffff;
    position: relative;
    top: 40%;
}

.start-butt {
    background-image: url(./images/start_butt.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
    width: 163px;
    height: 40px;
    position: relative;
    top: 70%;
    left: 30px;
    cursor: pointer;
    transition: ease-in-out all 0.3s;
}

.restart-butt {
    background-image: url(./images/restart_butt.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
    width: 163px;
    height: 40px;
    position: relative;
    top: 70%;
    left: 30px;
    cursor: pointer;
    transition: ease-in-out all 0.3s;
}

.started {
    visibility: hidden;
}

.start-butt:hover {
    transform: scale(1.07);
}

.restart-butt:hover {
    transform: scale(1.07);
}

.doodler {
    content: url(./images/doodler_fall.png);
    width: 65px;
    height: 65px;
    position: absolute;
    filter: contrast(1.5);
}

.jumping_doodler {
    content: url(./images/doodler_jump.png);
    filter: contrast(1.5);
}

.platform {
    filter: contrast(1.5);
    content: url(./images/plat.png);
    background: none;
    width: 75px;
    height: 20px;
    position: absolute;
}